@import '../../style/func.scss';
.countdown-loading-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content:center;
  .progress-wrapper{
    width: p2r(260);
    height: p2r(40);
    margin: 0 p2r(10);
    .progress{
      height: 100%;
      background-color: red;
    }
  }
}