.switch-type-layout {
  position: absolute;
  width: 300px;
  left: 50%;
  top: 576px;
  margin-left: -150px;

  .switch-area {
    .switch-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;

      .check-box {
        margin-right: 5px;
      }

      span {
        font-size: 12px;
        color: #8c8787;
      }
    }
  }
  .select-info {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    color: #8c8787;
    span {
      color: #000;
      font-size: 14px;
      margin-left: 5px;
      margin-right: 5px;
      font-weight: bold;
    }
  }
}